<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Início - Portal Pedro II</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Merriweather:wght@700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/home.css">

</head>
<body>

  <header>
    <nav>
      <h1>Portal Pedro II</h1>
      <ul>
        <li><a href="" class="ativo">Início</a></li>
        <li><a href="perfil" id="linkPerfil">Perfil</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <section class="hero">
      <h2>Bem-vindo ao Portal de Pedro II</h2>
      <p>Descubra as maravilhas da nossa terra.</p>
      <h3 id="mensagemBoasVindas"></h3>
    </section>
  </main>

  <footer>
    <p>© 2025 - Portal Pedro II | Projeto IFPI</p>
  </footer>

  <script src="../js/auth.js"></script>
</body>
</html>